.list-of-file-box {
  padding: 20px;
  /* border-top-left-radius: 6px; */
  /* border-bottom-left-radius: 6px; */
  background: #f76262;
  color: white;
  /* border: 1px solid; */
}
.list-of-file-in {
  max-width: 300px;
  overflow: auto;
}
.list-of-file-in > h3 {
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.list-of-file-in > h3:hover {
  border-bottom: 2px solid;
  padding-bottom: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .list-of-file-box {
    border: 0;
  }
}
