/* .hasttagTitle {
  font-weight: bold;
  text-align: left;
  font-size: 5vh;
  width: 70%;

  margin: 2vh auto 2vh auto;
} */
h1,
h2,
h3,
h4,
h5,
strong {
  font-family: 'Titillium Web', sans-serif;
}
